@"
# Ambientes virtuais
venv/
.venv/
env/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Distribuição / build
dist/
build/
*.egg-info/

# Variáveis de ambiente
.env
.env.local

# IDEs
.vscode/
.idea/
*.code-workspace



# Pytest / cobertura
.pytest_cache/
htmlcov/
.coverage

# Sistema
.DS_Store
Thumbs.db
"@ | Out-File -FilePath ".gitignore" -Encoding utf8